.hero__wrapper {
      position: relative;
      width: 100%;
}

.hero__content{
      display: flex;
      padding-left: 15.2rem;
      align-items: center;
      min-height: 61.1rem;

      @media screen and (max-width: 720px){
            padding-left: 0;
            text-align: center;
                  
      }
}

.hero__text {
      h2,
      p {
            font-family: 'Nanum Brush Script', Arial, Helvetica, sans-serif;
            color: #fff;
            text-transform: uppercase;
      }

      h2 {
            font-size: 8rem;
            font-weight: bold;
            padding: 10px;
            max-width: 84rem;
            animation: from-bottom .3s ease-in,
                  appear 1s ease-in forwards;
            animation-delay: .5s;
            opacity: 0;

            
      }

      p {
            font-size: 6rem;
            animation: from-right .3s ease-in,
                  appear .8s ease-in forwards;

      }
}


.hero__img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
}


.logo {
      box-sizing: content-box;
      padding: 1.8rem 0;
      height: 8.1rem;
      z-index: 999;
}

.stroke {
      position: absolute;
      right: -10px;
      top: 47rem;
      width: 1000px;
      z-index: 0;
      animation: appear 350ms ease-in forwards;
}