nav {
      position: fixed;
      width: 100%;
      z-index: 3;
      
      > div{
            padding-left: 6.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
      }


      ul{
            display: flex;
            justify-content: center;
            text-align: center;
      }
      
      li {
            display: inline-block;
            margin-top: 16px;
            margin-right: 20px;
      }

      a {
            color: white;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: bold;
            list-style-type: none;
            display: inline;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            text-transform: uppercase;

            &.active,
            &:hover{
                  border-bottom: 1px solid rgb(0, 159, 170);
            }
      }
}