.sub__content {
      background-image: url(../assets/net.svg);
      width: 100%;
      position: relative;
      background-color: var(--pri-den-gray-005);
      margin-bottom: 6rem;

      img {
            position: absolute;
            transform: rotateX(180deg);
            right: 200px;
            top: -1px;
      }

      > div {
            position: relative;
            max-width: 65rem;
            padding-top: 14.3rem;
            padding-bottom: 12rem;
      }

      p {
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            font-size: 3rem;
            text-align: left;
            margin-bottom: 2rem;
      }
}