.sub__content {
      background-image: url(./assets/net.svg);
      height: 450px;
      width: 100%;
      position: relative;
      background-color: var(--pri-den-gray-005);
      margin-top: 131px;
      margin-bottom: 50px;

      img {
            position: absolute;
            transform: rotateX(180deg);
            right: 200px;
            top: -1px;
      }

      div {
            position: relative;
      }

      p {
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            font-size: 3rem;
            padding: 100px 600px 30px 600px;
            text-align: left;
      }
}

.sub__content .article__btn {
      margin-left: 600px
}